<footer
  class="flex justify-content-center align-items-start p-6 bg-black-alpha-90 border-top-3 border-yellow-600 text-white footer"
>
  <div class="flex flex-column justify-content-center align-items-start gap-2">
    <img src="assets/logos/logo.png" alt="" class="w-1" id="footer-logo" />
    <p>Vandelson Junior Advogados & Associados</p>
    <p>CNPJ: 12.345.678/0001-00</p>
    <br />
    <p>Copyright © | Vandelson Junior Advogados & Associados</p>
  </div>

  <div class="flex flex-column gap-2 mr-5">
    <h2 class="border-bottom-2 border-yellow-600">Menu</h2>
    <div class="flex flex-column gap-2">
      <a routerLink="/">Início</a>
      <a routerLink="/sobre">Sobre nós</a>
      <a routerLink="/areas-de-atuacao">Áreas de atuação</a>
      <a routerLink="/noticias">Noticias</a>
      <a routerLink="/contato">Contato</a>
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <h2 class="border-bottom-2 border-yellow-600">Contatos</h2>
    <div class="flex flex-column gap-3">
      <div class="flex gap-2">
        <i class="pi pi-whatsapp text-yellow-500 text-2xl"></i>
        <a href="https://api.whatsapp.com/send?phone=5511981918888"
          >(81) 9 9356-4444</a
        >
      </div>
      <div class="flex gap-2">
        <i class="pi pi-envelope text-yellow-500 text-2xl"></i>
        <a href="mailto:vandelsonjunioradvogados@gmail.com"
          >vandelsonjunioradvogados&#64;gmail.com</a
        >
      </div>
      <div class="flex gap-2">
        <i class="pi pi-building text-yellow-500 text-2xl"></i>
        <a href="https://maps.app.goo.gl/7YmWJnzVi1iiaR3P9"
          >Av. Frei Matias Teves, 210 - Paissandu - Ilha do Leite</a
        >
      </div>
      <div class="flex align-items-center gap-3">
        <a href="https://api.whatsapp.com/send?phone=5511981918888">
          <i class="pi pi-whatsapp text-yellow-500 text-2xl"></i>
        </a>
        <a href="https://www.instagram.com/vandelsonjr.adv/">
          <i class="pi pi-instagram text-yellow-500 text-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/vandelson-dos-santos-5451ba17b/">
          <i class="pi pi-linkedin text-yellow-500 text-2xl"></i>
        </a>
        <a href="https://www.facebook.com/vandelsonjr.adv">
          <i class="pi pi-facebook text-yellow-500 text-2xl"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
