<div class="banner flex flex-column justify-content-center align-items-start">
  <div class="title-service-banner">
    <h1 class="text-center text-white text-6xl title">
      <strong>Áreas</strong> de atuação
      <div></div>
    </h1>
  </div>
  <a href="" class="scrolldown-services" style="--color: white">
    <div class="chevrons">
      <div class="chevrondown"></div>
      <div class="chevrondown"></div>
    </div>
  </a>
</div>

<div class="cards-services-container">
  <a routerLink="" class="cards-services">
    <i class="pi pi-home text-yellow-500 text-4xl"></i>
    <h4>Direito da Família e Sucessões</h4>
    <p>
      Prestamos consultoria e representamos em processos de divórcio, guarda de
      filhos, partilha de bens e pensão alimentária, garantindo a proteção dos
      direitos familiares.
    </p>
    <div class="flex justify-content-center align-items-center gap-2">
      <i class="pi pi-arrow-right"></i>
      <span>Leia mais</span>
    </div>
  </a>
  <a routerLink="" class="cards-services">
    <i class="pi pi-building text-yellow-500 text-4xl"></i>
    <h4>Direito Imobiliário</h4>
    <p>
      Oferecemos assessoria jurídica em residência, locação e regularização de
      imóveis, bem como em litigios relacionados a propriedades e contratos
      imobiliários.
    </p>
    <div class="flex justify-content-center align-items-center gap-2">
      <i class="pi pi-arrow-right hover:translate"></i>
      <span>Leia mais</span>
    </div>
  </a>
  <a routerLink="" class="cards-services">
    <i class="pi pi-building-columns text-yellow-500 text-4xl"></i>
    <h4>Direito Bancário</h4>
    <p>
      Fornecemos assessoria completa em contratos bancários, financiamentos,
      empréstimos e questões relacionadas a instituições financeiras. Além
      disso, atuamos em litigios e cobranças de dívidas.
    </p>
    <div class="flex justify-content-center align-items-center gap-2">
      <i class="pi pi-arrow-right hover:translate"></i>
      <span>Leia mais</span>
    </div>
  </a>
  <a routerLink="" class="cards-services">
    <i class="pi pi-user text-yellow-500 text-4xl"></i>
    <h4>Direito Previdenciário</h4>
    <p>
      Prestamos assistência juridica em segurados, assistência social,
      aposentadorias e pensionistas. Além de atuar em revisões de benefícios e
      processos administrativos no INSS.
    </p>
    <div class="flex justify-content-center align-items-center gap-2">
      <i class="pi pi-arrow-right hover:translate"></i>
      <span>Leia mais</span>
    </div>
  </a>
  <a routerLink="" class="cards-services">
    <i class="pi pi-users text-yellow-500 text-4xl"></i>
    <h4>Direito do Trabalho</h4>
    <p>
      Prestamos assistência juridica em segurados, assistência e assistência
      social, aposentadorias e pensionistas. Além disso, atuamos em processos de
      rescisão de contrato, acordos trabalhistas e litigios.
    </p>
    <div class="flex justify-content-center align-items-center gap-2">
      <i class="pi pi-arrow-right hover:translate"></i>
      <span>Leia mais</span>
    </div>
  </a>
</div>
