<div class="developing h-screen">
  <img
    src="assets/logos/logo-transparente-branca.png"
    alt="logotipo"
    class="w-2 mb-5"
  />
  <h1>Página de notícias</h1>
  <h2>Em construção...</h2>
  <p>
    Em breve, você poderá acessar as últimas notícias do escritório
    <strong>Vandelson Junior Advogados & Associados</strong>.
  </p>
  <div class="social-media">
    <a
      routerLink="https://api.whatsapp.com/send?phone=5511981918888"
      class="social-link pi pi-whatsapp text-5xl text-yellow-500"
    ></a>
    <a
      routerLink="https://www.instagram.com/vandelsonjr.adv/"
      class="social-link pi pi-instagram text-5xl text-yellow-500"
    ></a>
    <a
      routerLink="https://www.linkedin.com/in/vandelson-dos-santos-5451ba17b/"
      class="social-link pi pi-linkedin text-5xl text-yellow-500"
    ></a>
    <a
      routerLink="https://www.facebook.com/vandelsonjr.adv"
      class="social-link pi pi-facebook text-5xl text-yellow-500"
    ></a>
  </div>
  <button
    pButton
    type="button"
    label="Voltar para página inicial"
    icon="pi pi-home"
    routerLink="/"
    class="flex justify-content-center align-items-center gap-2 mt-5 p-3 btn-blog"
  ></button>
</div>
