.whatsapp-container {
  position: fixed;
  bottom: 85px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.show-float {
  opacity: 1;
}

.whatsapp-button {
  background-color: #25d366;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite;
}

.whatsapp-message {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: none;
  animation: fadeIn 0.5s forwards;
}

.whatsapp-button:hover + .whatsapp-message {
  display: block;
}

/* Animação de pulsar */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Animação de fade-in para a mensagem */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
