<div class="banner flex flex-column justify-content-center align-items-center">
  <p class="text-center text-white text-6xl title">
    Protegendo seus <strong>Direitos,</strong>
    <br />
    Defendendo seu <strong>Futuro.</strong>
  </p>
  <a href="" class="scrolldown" style="--color: white">
    <div class="chevrons">
      <div class="chevrondown"></div>
      <div class="chevrondown"></div>
    </div>
  </a>
</div>

<div
  class="flex flex-wrap justify-content-center align-items-center gap-8 m-8 title-about-page"
>
  <div
    class="flex flex-column justify-content-center align-items-start gap-2 w-4 about-title-responsive"
  >
    <h2 class="text-5xl">Nós sempre fazemos o melhor!</h2>
    <p>
      Um escritório de advocacia especializado em fornecer soluções jurídicas
      rápidas, eficientes e personalizadas, atuando em todo o Brasil. Com uma
      equipe composta por advogados especialistas e mestres em diversas áreas do
      direito, oferecemos serviços de excelência tanto para pessoas físicas
      quanto jurídicas. Nosso diferencial é a busca constante pela conciliação e
      resolução de conflitos antes de chegar ao âmbito judicial, garantindo
      assim uma abordagem preventiva e estratégica para nossos clientes.
    </p>
    <button
      pButton
      type="button"
      label="Venha conhecer"
      class="p-2 mt-4 btn-about"
      routerLink="/sobre"
    ></button>
  </div>

  <div class="about-image">
    <img src="assets/grupo.jpg" alt="" />
  </div>
</div>

<div class="flex flex-column justify-content-center p-4 services">
  <div class="container-card">
    <div class="cards">
      <i class="pi pi-home text-yellow-500 text-4xl"></i>
      <h4>Direito da Família</h4>
      <p>
        Prestamos consultoria e representamos em processos de divórcio, guarda
        de filhos, partilha de bens e pensão alimentícia, garantindo a proteção
        dos direitos familiares.
      </p>
    </div>
    <div class="cards">
      <i class="pi pi-building text-yellow-500 text-4xl"></i>
      <h4>Direito da Imobiliário</h4>
      <p>
        Oferecemos assessoria jurídica em compra, venda, locação e regularização
        de imóveis, bem como em litígios relacionados a propriedades e contratos
        imobiliários.
      </p>
    </div>
    <div class="cards">
      <i class="pi pi-building-columns text-yellow-500 text-4xl"></i>
      <h4>Direito da Bancário</h4>
      <p>
        Auxiliamos na obtenção de aposentadorias, pensões e benefícios, além de
        atuar em revisões de benefícios e processos administrativos no INSS.
      </p>
    </div>
    <div class="cards">
      <i class="pi pi-user text-yellow-500 text-4xl"></i>
      <h4>Direito da Previdenciário</h4>
      <p>
        Fornecemos assessoria completa em contratos bancários, financiamentos,
        empréstimos e questões relacionadas a instituições financeiras.
      </p>
    </div>
  </div>
  <div class="flex justify-content-center align-items-center">
    <button
      pButton
      type="button"
      label="Saiba mais"
      icon="pi pi-angle-right"
      class="flex justify-content-center align-items-center p-2 w-1 btn-about"
      routerLink="/servicos"
    ></button>
  </div>
</div>

<div
  class="flex flex-wrap justify-content-center align-items-center gap-4 bg-gray-300 p-8 mt-8 mb-8 about-page"
>
  <div class="about-image">
    <img src="assets/banner-about.png" alt="" />
  </div>

  <div
    class="text-about flex flex-wrap flex-column justify-content-center align-items-start gap-4 w-4"
  >
    <h2 class="text-5xl">Nós sempre fazemos o melhor!</h2>
    <p>
      Um escritório de advocacia especializado em fornecer soluções jurídicas
      específicas, eficientes e personalizadas, atuando em todo o Brasil. Com
      uma equipe composta por advogados especialistas e mestres em diversas
      ações do direito, oferecemos serviços de excelência tanto para pessoas
      fisicas quanto juridicas. Nosso diferencial é a busca constante pela
      conciliação e resolução de conflitos antes de chegar ao ámbito judicial,
      garantindo assim uma abordagem preventiva e estrategica para nossos
      clientes.
    </p>
    <div class="container-icons">
      <div
        class="flex flex-column justify-content-center align-items-start gap-2"
      >
        <div class="flex justify-content-start align-items-center gap-2 w-12">
          <div class="flex justify-content-start align-items-center gap-3">
            <i class="pi pi-home text-4xl"></i>
            <p>Direito da Família</p>
          </div>
          <div class="flex justify-content-start align-items-center gap-3">
            <i class="pi pi-building text-4xl"></i>
            <p>Direito da Imobiliário</p>
          </div>
        </div>
        <div class="flex justify-content-start align-items-center gap-2 w-12">
          <div class="flex justify-content-start align-items-center gap-3">
            <i class="pi pi-user text-4xl"></i>
            <p>Direito da Previdenciário</p>
          </div>
          <div class="flex justify-content-start align-items-center gap-3">
            <i class="pi pi-building-columns text-4xl"></i>
            <p>Direito da Bancário</p>
          </div>
        </div>
      </div>
      <button
        pButton
        type="button"
        label="Fale com especialista"
        icon="pi pi-comment"
        class="p-2 mt-5 btn-about"
        routerLink="/sobre"
      ></button>
    </div>
  </div>
</div>

<div class="flex flex-column justify-content-center align-items-center gap-6">
  <div class="title-socios">
    <h2 class="text-5xl">Conheça nosso time!</h2>
  </div>
  <div class="socios-container">
    <div class="socios-card">
      <div class="socios-image">
        <img src="assets/junior (1).jpg" alt="about-image" />
      </div>
      <div class="socios-title">
        <div class="socios-role">
          <h3>Dr. Vandelson dos Santos</h3>
          <p class="text-white">CEO e Fundador</p>
          <P>Direito Previdênciario</P>
        </div>
        <div class="socios-media">
          <a
            href="https://www.instagram.com/vandelsonjr.adv/"
            class="pi pi-instagram"
          ></a>
          <a
            href="https://www.linkedin.com/in/vandelson-dos-santos-5451ba17b/"
            class="pi pi-linkedin"
          ></a>
          <a
            href="https://www.facebook.com/vandelsonjr.adv"
            class="pi pi-facebook"
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=5511981918888"
            class="pi pi-whatsapp"
          ></a>
        </div>
      </div>
    </div>
    <div class="socios-card">
      <div class="socios-image">
        <img src="assets/elaine.jpg" alt="about-image" />
      </div>
      <div class="socios-title">
        <div class="socios-role">
          <h3>Dra. Elaine dos Santos</h3>
          <p class="text-white">CEO e co-fundadora</p>
          <p>Direito Imobiliário</p>
        </div>
        <div class="socios-media">
          <a
            href="https://www.instagram.com/elaine.santosadv/"
            class="pi pi-instagram"
          ></a>
          <a
            href="https://www.linkedin.com/in/elaine-larissa-vitor-alves-santos/"
            class="pi pi-linkedin"
          ></a>
          <a
            href="https://www.facebook.com/vandelsonjr.adv"
            class="pi pi-facebook"
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=5511981918888"
            class="pi pi-whatsapp"
          ></a>
        </div>
      </div>
    </div>
    <div class="socios-card">
      <div class="socios-image">
        <img src="assets/jaate (4).jpg" alt="about-image" />
      </div>
      <div class="socios-title">
        <div class="socios-role">
          <h3>Dr. Jaate Lima</h3>
          <p class="text-white">CEO</p>
          <p>Direito Trabalhista</p>
        </div>
        <div class="socios-media">
          <a
            href="https://www.instagram.com/elaine.santosadv/"
            class="pi pi-instagram"
          ></a>
          <a
            href="https://www.linkedin.com/in/dr-elaine-dos-santos/"
            class="pi pi-linkedin"
          ></a>
          <a
            href="https://www.facebook.com/vandelsonjr.adv"
            class="pi pi-facebook"
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=5511981918888"
            class="pi pi-whatsapp"
          ></a>
        </div>
      </div>
    </div>
    <div class="socios-card">
      <div class="socios-image">
        <img src="assets/cassia.png" alt="about-image" />
      </div>
      <div class="socios-title">
        <div class="socios-role">
          <h3>Dra. Cássia Cabral</h3>
          <p class="text-white">CEO</p>
          <p>Direito da Família e Sucessões</p>
        </div>
        <div class="socios-media">
          <a
            href="https://www.instagram.com/elaine.santosadv/"
            class="pi pi-instagram"
          ></a>
          <a
            href="https://www.linkedin.com/in/dr-elaine-dos-santos/"
            class="pi pi-linkedin"
          ></a>
          <a
            href="https://www.facebook.com/vandelsonjr.adv"
            class="pi pi-facebook"
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=5511981918888"
            class="pi pi-whatsapp"
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
